.DS_Store
tutorial/.ipynb_checkpoints/
datasets/getty/gzip_me.sh
datasets/.DS_Store
datasets/arnold/.DS_Store
tutorial/.ipynb_checkpoints/kg-network-analysis-checkpoint.ipynb
tutorial/.ipynb_checkpoints/kg-profiling-checkpoint.ipynb
datasets/imdb/.DS_Store
tutorial/extra_files.json
tutorial/.ipynb_checkpoints/cache-bug-checkpoint.ipynb
tutorial/.ipynb_checkpoints/kg-augment-checkpoint.ipynb
projects/*
use-cases/.ipynb_checkpoints/bio-subgraphs-checkpoint.ipynb
use-cases/.ipynb_checkpoints/p279-similarity-checkpoint.ipynb
use-cases/.ipynb_checkpoints/browser-profiling-checkpoint.ipynb
use-cases/.ipynb_checkpoints/ontology-examples-checkpoint.ipynb
use-cases/.ipynb_checkpoints/properties-for-this-type-checkpoint.ipynb
